

<!-- <scroll-component></scroll-component> -->

<div class='navDiv'>
<div class='navBar'>
    <div class='logoBox'>
        <img class=" logo" src="assets/image/LOGO.jpg"/>
        </div>
        <!-- <div class="Navbar__Link Navbar__Link-toggle">
          <i class="fas fa-bars"></i>
        </div> -->
  <nav class='nav' id='topNav'>
    
    <li><a href='#aboutLink'>Our Story</a></li>
    <li><a href='#reviewLink'>Review</a></li>
    <li><a href ='https://www.amazon.com/dp/B07KPP4SMR?ref=myi_title_dp&fbclid=IwAR2Rf8MhYM6L7IqfBZFPIswr6Fr9MExnZw5oKxttsXmAq0EXiGAxeIYLK_U'>Purchase</a></li> 
     <!-- <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a></li>  -->
          <!-- <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span> -->

</nav>
</div>
</div> 
<!-- 
<nav class="navDiv navBar">
        <div class='logoBox'>
                <img class=" logo" src="assets/image/LOGO.jpg"/>
                </div>
      
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button> 
      
      
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Item 1</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">Item 2</a>
            </li>
          </ul>
        </div> 
      </nav> -->

<home></home>
<story class='story'></story> 
<reviews class='review1'></reviews>

<footer class='footerBottom'>
    <div class='footGroup'>
    <div class='foot'>
        <p>
        UP SOUTH BBQ, L.L.C.
        P.O. Box 1182
        Walled Lake, MI 48390
        248 943 0875
        </p>  
        <div class='social-media'>
                <img class='facebook icon' src="assets/image/facebook icon.png"/>
                <img class='twitter icon' src="assets/image/twitter icon.png"/>
                <img class='instagram icon' src="assets/image/instagram icon.png"/>
              </div>
    </div>



    </div>

</footer>

<router-outlet></router-outlet>
