
<!-- <div class='aboutSection' id='aboutLink'> -->
        <div class='meet'id='aboutLink'>
            <div class='meetinfo'>
              <p>Our Story</p>  
            </div>
        </div>
        
        <div class='about'>
            <div class='carlFeeImage'>
                 <img src='./assets/image/UpSouth Team copy.jpg' class='teamPic'>
            </div>
    
            <div class='bottle'>
                <img src='./assets/image/bbqbottle.png' class='sauceBottle'>
           </div>
    
            <div class='aboutText'>
                <p class='aboutTeam'>
                After many years of backyard BBQing and competing in 2016, the Up South BBQ story began.  The name “Up South” is a combination of flavors, cultures and experiences from both Mississippi and Michigan.  This unique sauce is influenced by the sweet flavor of down home cooking and the savoriness of the Midwest.
                </p>
                <img src='./assets/image/sauce.png' class='saucespill'/>

            </div>
        </div>
        
        
        <!-- <div class='sauce'>
             <img src='./assets/image/sauce.png' class='saucespill'/>
        </div> -->
    

























<!-- <div class='aboutSection' id='aboutLink'>
    <div class='meet'>
        <div class='meetinfo'>
          <p>Our Story</p>  
        </div>
    </div>
    <div class='about'>
        <div class='carlFeeImage'>
             <img src='./assets/image/UpSouth Team copy.jpg' class='teamPic'>
        </div>

        <div class='bottle'>
            <img src='./assets/image/bbqbottle.png' class='sauceBottle'>
       </div>

        <div class='aboutText'>
            <p class='aboutTeam'>
            After many years of backyard BBQing and competing in 2016, the Up South BBQ story began.  The name “Up South” is a combination of flavors, cultures and experiences from both Mississippi and Michigan.  This unique sauce is influenced by the sweet flavor of down home cooking and the savoriness of the Midwest.
            </p>
        </div>
    </div>
    
    <div class='sauce'>
         <img src='./assets/image/sauce.png' class='saucespill'/>
    </div>
   
</div> -->