<div class="slider">
  
        <div class='textSlider fadeIn'>Up North </div>
        <div class='textSliderOne fadeIn'>with a down South </div>
        <div class='textSliderTwo fadeIn'>FLAVOR!</div>

        <img class='largeImg' src='assets/image/BBQ box2-2.jpg'/>
        
    </div>
    <div class='roll'>
    <div class='rollOver'>
        <div id='rollImage1' >
         <!-- <p id='rolltext' >Michigan Made</p> -->
        </div>

        <div id='rollImage2'>
                <!-- <p id='rolltext2' >Prize Winning BBQ Sauce</p> -->
        </div>

        <div id='rollImage3'>
                <!-- <p id='rolltext3' >Sweet & Savory, Smoky Flavor</p> -->
        </div> 
        
    </div>
    </div>